<script>
    $(document).ready(function () {

    });
</script>
<div class="card" style="width: max">
    <div class="card-body" style="background-color: #e6e7e9">
        <div class="row">
            <div class="col" >
               <a>Painel de Notificações </a>
            </div>
        </div>
    </div>
</div>