<script>
    $(document).ready(function() {
   var js_array = [<?php echo '"'.implode('","',$data).'"' ?>];
     var x  = js_array.length;
    document.getElementById("myText").innerHTML = x;
    //  alert(js_array);
    // function dos(){

    // };
    var i = 0;   
      for (i = 0; i < x; i++){
            document.getElementById("atual").innerHTML = i+1;
         window.open("http://rbl.cbsistema.com.br/show-payament-slip/gerarPdf/" + js_array[i],'_blank');
         window.focus();
        //  setTimeout(f,3000);
        
      }

    });
</script>

<?php
$this->Breadcrumbs->add([
    ['title' => $this->Html->tag('i', '', ['class' => 'fa fa-home']), 'url' => ['controller' => 'Home', 'action' => 'index']],
    ['title' => 'Cadastro de Formas de Pagamento', 'url' => ['action' => 'index']],
    ['title' => 'Forma de Pagamento']
]);
echo $this->Breadcrumbs->render();
?>

<?= $this->Flash->render() ?>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
<h3> Baixando  <span id="atual"></span> de <span id="myText"></span> </script>
                <?= $this->element('button_return') ?>
            </div>
        </div>
    </div>
</div>