<script>
    $(document).ready(function () {
    });
</script>

<?php
$this->Breadcrumbs->add([
    ['title' => $this->Html->tag('i', '', ['class' => 'fa fa-home']), 'url' => ['controller' => 'Home', 'action' => 'index']],
    ['title' => 'Ativos', 'url' => ['action' => 'index']],
    ['title' => 'Upload de Arquivos']
]);
echo $this->Breadcrumbs->render();
?>
<?php 
?>
<?= $this->Flash->render() ?>
        <div class="card">
            <div class="card-body">
                <?=
                    $this->Form->create($active, ['enctype' => 'multipart/form-data'])
                ?>
                    <div class="row">
                        <div calss="col-md-3 col-sm-12" style="margin-left:15px">
                            <label><span class="text-danger">*</span> Arquivos</label>
                            <?= $this->Form->file('arquivo', ['class' => 'form-control','label' => false]) ?>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <?php
                                $dir = WWW_ROOT."files". DS ."props". DS .$active->prop_id. DS ."brands". DS .$active->brand_id. DS ."brandModel". DS .$active->brand_model_id. DS;
                                // Open a directory, and read its contents
                                if (is_dir($dir)){
                                    if ($dh = opendir($dir)){
                                        while (($file = readdir($dh)) !== false){
                                            if($file == "." or $file ==".."){}
                                            else{
                                                echo      $file . "<br>";
                                                echo  "<a href=http://www.projetovistoria.com.br/webservices/APIdownloads.php?file=".$file."&filepath=".$dir.$file.">Download</a><br>";   
                                                echo "<a href=".$dir."$file></a><br>";
                                                
                                            }
                                        }
                                        closedir($dh);
                                    }
                                }
                            ?>    
                        </div>
                    </div>
                <?= $this->element('button_save', ['id' => 'save']) ?>
                <?= $this->Form->end() ?>
                <?= $this->element('button_return') ?>
    </div>
</div>