body {
    font-size: 12px;
}

a:link {
    /*color: green;*/
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

table {
    border: 2px solid #efefef;
}

th {
    background-color: #efefef;
}

.report-row td {
    padding-top: -0.2rem;
    padding-bottom: .2rem;
}

.extra-slim-row td {
    padding: .3rem;
}

.slim-row td {
    padding: .6rem;
}

.slim-row .form-group {
    margin-bottom: .0rem;
}

.slim-row .form-control {
    padding: .2rem .6rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.checkbox {
    padding-right: 10px;
    display: inline-block;
}

.error-message {
    font-weight: bold;
    color: red;
}

.input_container {
    position: relative;
    direction: rtl;
    width: 100%;
}

.input_img {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
}

.twitter-typeahead {
    width: 100%;
}

.btn {
    border-radius: 2rem;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    color: white !important;
    background-color: #159450;
    border-color: #159450 !important;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: lightgreen;
    border-color: lightgreen;
}

.btn-primary:active {
    background-color: lightgreen !important;
    border-color: lightgreen !important;
}

.btn-outline-primary {
    color: green;
    border-color: green;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-outline-primary:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.btn-outline-primary:active {
    background-color: lightgreen !important;
    border-color: lightgreen !important;
}

.btn-dark {
    color: white;
    background-color: black;
    border-color: black;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-dark:hover {
    background-color: gray;
    border-color: gray;
}

.btn-outline-dark {
    color: black;
    border-color: black;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-outline-dark:hover {
    background-color: gray;
    border-color: gray;
    color: white;
}

.bg-primary {
    background-color: #F4F5F7 !important;
}

.form-group {
    margin-bottom: 0.5rem;
}

.standout {
    font-size: large; 
    font-weight: bold;
}

.navbar.navbar-primary .navbar-menu-wrapper {
    background: white;
    width: 300px;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5);
}

.bg-light {
    background-color: white !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin: -0.125rem 0 0;
}

.dropdown-item {
    border-left-width: 5px;
    border-left-color: white;
    border-left-style: solid;
    background-color: white;
    color: rgba(0,0,0,.5);
    font-size: 12px;
}

.dropdown-item:hover {
    border-left-width: 2px;
    border-left-color: royalblue;
    border-left-style: solid;
    background-color: whitesmoke;
    color: rgba(0,0,0,.5);
    font-size: 12px;
}

.dropdown-toggle::after {
    display: none;
}

.card-header {
    padding: 0.3rem 1.25rem;
}

.submenu {
    margin-left: 20px;
    /*    padding-left: 20px;*/
    margin-bottom: 5px;
    color: rgba(0,0,0,.5);
    font-size: 11px;
    font-weight: bold;
    padding-top: 5px;
}

.loading {    
    background-color: #ffffff;
    background-image: url("../img/loading.gif");
    background-size: 25px 25px;
    background-position: right 5px center;
    background-repeat: no-repeat;
}

.select2-container--default .select2-selection--multiple {
    border-color: #ced4da;
    height: 40px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #ced4da;
    height: 40px;
}

.circle {
    background: cornflowerblue;
    color: white;
    border-radius: 40px;
    width: 42px;
    height: 42px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.no-data-found {
    text-align: center;
    font-weight: bold;
}

.breadcrumb {
    background-color: white;
}

.icheckbox_flat-blue {
    margin-right: 10px;
}

.iradio_flat {
    margin-right: 10px;
}

.credit {
    font-weight: bold;
    color: green;
}

.debit {
    font-weight: bold;
    color: red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.money {
    text-align: right;
}

/* typeahead */

.twitter-typeahead {
    width: 100%;
}

.tt-query,
.tt-hint {
    /*width: 396px;*/
    width: 100%;
    /*height: 30px;*/
    height: 100%;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    /*border-radius: 8px;*/
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
    font-size: 14px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.typeahead-item {
    border: 1px solid #ccc;
}

.typeahead-item:hover {
    background-color: #e9e9e9; 
}

.custom-legend-container {
    min-height: 500px;
    position: relative;
    margin-bottom: 45px; }
.custom-legend-container.small-chart-container {
    min-height: 310px;
    margin-bottom: 0; }
.custom-legend-container .legend-right,
.custom-legend-container .legend-top {
    position: absolute;
    width: 100%; }
.custom-legend-container .legend-right ul,
.custom-legend-container .legend-top ul {
    padding-left: 0; }
.custom-legend-container .legend-right ul li,
.custom-legend-container .legend-top ul li {
    cursor: pointer;
    margin: 10px 4px;
    color: #616161; }
.custom-legend-container .legend-right ul li span,
.custom-legend-container .legend-top ul li span {
    position: relative;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    border-radius: 13px;
    color: white;
    z-index: 2;
    display: inline-block; }
.custom-legend-container .legend-right {
    top: 30%;
    left: calc(100% + 15px); }
.custom-legend-container .legend-top {
    top: 0;
    left: 0; }
.custom-legend-container .legend-top ul li {
    display: inline-block; }
.custom-legend-container .legend-top + canvas {
    position: absolute;
    top: 45px;
    height: calc(100% - 45px); }


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: -5px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}
